/* Write your code here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  background-size: cover;
}
.heading {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  color: #ffffff;
  margin-top: 60px;
}
.carousel-container {
  display: flex;
  align-items: center;
  width: 85%;
}
.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}
.username {
  font-size: 18px;
  font-family: Roboto;
  font-size: 700;
  color: #ffffff;
}
.description {
  font-size: 16px;
  font-family: Roboto;
  color: #171f46;
  text-align: center;
}
.company {
  font-size: 14px;
  font-family: Roboto;
  color: #171f46;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 150px;
  }
  .carousel-container {
    width: 45%;
    min-width: 622px;
  }
}
